.forgot-password-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.forgot-password-card {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  border-radius: 11px;
}

.forgot-password-card h3 {
  color: #0d6efd;
}

.forgot-password-card .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* .forgot-password-card .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 10px 0;
  font-weight: 500;
}

.forgot-password-card .btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
} */

/* .forgot-password-card a {
  color: #0d6efd;
} */

.forgot-password-card a:hover {
  color: #0b5ed7;
}